<section class="layout-content-height" *ngIf="data$ | async as product">
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-block d-lg-flex" [formGroup]="form">
            <app-details-product-image
              [imgSelected]="product.images[0]"
              [images]="product.images"
            ></app-details-product-image>

            <div>
              <h5 class="card-subtitle">{{ product.title }}</h5>

              <div class="hstack my-2">
                <app-rating [rate]="product.rating.rate"></app-rating>
                <small>{{ product.rating.count }} Avaliações</small>
              </div>

              <h4 class="text-muted">Descrição</h4>

              <p
                class="card-text"
                truncate
                [truncateSize]="160"
                [truncateShowMore]="false"
              >
                {{ product.description }}
              </p>

              <small class="text-muted"
                >Cor: {{ getValue('color')!.name }}</small
              >

              <div class="hstack mb-3">
                <input type="hidden" formControlName="color" />
                <span
                  class="rounded-circle me-2 border border-2"
                  role="button"
                  [tooltip]="color.name"
                  tooltipPosition="bottom"
                  *ngFor="let color of product.colors"
                  [style.background-color]="color.value"
                  [style.width.px]="28"
                  [style.height.px]="28"
                  (click)="changeSelected({color})"
                ></span>
              </div>

              <small class="text-muted">
                Tamanho: {{ getValue('size')!.name }}
              </small>

              <div class="hstack mb-3">
                <input type="hidden" formControlName="size" />
                <span
                  class="rounded-circle me-2 border border-2 text-center lh-1 fw-bold p-1"
                  role="button"
                  [tooltip]="size.name"
                  tooltipPosition="bottom"
                  *ngFor="let size of product.sizes"
                  [style.width.px]="28"
                  [style.height.px]="28"
                  (click)="changeSelected({size})"
                >
                  {{ size.value }}
                </span>
              </div>

              <app-input-count
                formControlName="quant"
                [max]="product.stock"
                [allowNegativeValue]="false"
              ></app-input-count>

              <p class="ms-auto mb-0">
                Estoque disponível:
                <span class="fw-bold text-primary">
                  {{ product.stock }} unidades
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-4 mt-3 mt-xl-0">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title mt-2 fw-bold">
            {{ product.price | currency : 'R$' }}
          </h2>

          <p class="text-muted">em até 7x sem juros no cartão de crédito</p>

          <a href="#" class="fs-6 d-block mb-3">Mais formas de pagamento</a>

          <hr />
          <app-calc-shipping></app-calc-shipping>
          <hr />
        </div>
        <div class="card-footer">
          <app-button
            label="Adicionar à Sacola"
            [isLoading]="loading"
            (onClick)="addCart()"
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h4 class="text-muted">Descrição</h4>

          <p class="card-text">
            {{ product.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
