<div
  [id]="id"
  class="toast hstack bg-white"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="toast-body hstack">
    <i
      class="fs-5 bi"
      [ngClass]="[toastIcon[data.type!].icon, toastIcon[data.type!].color]"
    ></i>
    <p class="ms-3 mb-0">{{ data.text }}</p>
  </div>

  <ng-container *ngIf="data.button === 'close'">
    <button
      type="button"
      class="btn-close me-3 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </ng-container>
</div>
