@import '~bootstrap/scss/functions';

@import 'assets/scss/variable';
@import 'assets/scss/root';

@import '~bootstrap/scss/variables';

@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';

@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/offcanvas';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/tooltip';

@import '~bootstrap/scss/utilities';

@import 'assets/scss/maps';

@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/helpers';

@import '~bootstrap/scss/utilities/api';

@import 'assets/scss/custom';
@import 'assets/scss/scrollbr';
